<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">

		<h1 class="mt-4">영화 등록</h1>

		<form th:action="@{/movie/register}" th:method="post">
			<div class="form-group">
				<label>제목</label> <input type="text" class="form-control"
					name="title" placeholder="Enter title"> <label>이미지</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input files" id="fileInput"
						multiple> <label class="custom-file-label"
						data-browse="Browse"></label>
				</div>
			</div>
			<div class="box"></div>
			<style>
				.uploadResult {
					width: 100%;
					background-color:gray;
					margin-top: 10px;
				}
				
				.uploadResult ul {
					display: flex;
					flex-flow: row;
					justify-content: center;
					align-items: center;
					vertical-align: top;
					overflow: auto; 
				}
				
				.uploadResult ul li {
					list-style: none;
					padding: 10px;
					margin-left: 2em;
				}
				
				.uploadResult ul li img {
					width: 100px;
				}
			</style>
			<div class= "uploadResult">
				<ul>
				
				</ul>
			</div>
			<button type="submit" class="btn btn-primary">등록</button>
		</form>

		<script>
			$(document).ready(function(e) {
				
				// 업로드 파일 유효성 검사
				var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$"); // 파일 정규식
				var maxSize = 10485760; // 10MB
				
				function checkExtension(fileName, fileSize) {
					if(fileSize >= maxSize) {
						alert("파일 사이즈 초과");
						return false;
					}
					
					if(regex.test(fileName)) {
						alter("해당 종류의 파일은 업로드 할 수 없습니다.");
						return false;
					}
					return true;
				}
				
				// Browse - 커스텀 버튼 머시기
				$(".custom-file-input").on("change", function() {
					var fileName = $(this).val().split("\\").pop();
					$(this).siblings(".custom-file-label").addClass("selected").html(fileName); // siblings = 형제 요소를 말하는거래
					
					var formData = new FormData();
					
					var inputFile = $(this);
					
					var files = inputFile[0].files;
					
					var appended = false;
					
					for(var i = 0; i < files.length; i++) {
						
						if(!checkExtension(files[i].name, files[i].size)) { // 입력받은 내용이 일치하는지 확인?
							return false;
						}
						
						console.log("--------------files[i] : " + files[i]);
						formData.append("uploadFiles", files[i]); // 위에서 형식과 길이가 맞을 경우에 append 함
						appended = true; // 추가가 되었다 표시를 해주는 거래여
					}
					
					if(!appended) {return;} // appended가 false이면(파일이 추가되지 않았을 경우)
					
					for(var value of formData.values()) { // for - of 문 사용
						console.log(value);
					}
					
					// 실제 업로드 부분
					// upload ajax
					$.ajax({
						url: '/uploadAjax',
						processData: false,
						contentType: false,
						data: formData,
						type: 'post',
						dataType: 'Json',
						success: function(result) {
							console.log(result);
							showResult(result);
						},
						error: function(jqXHR, textStatus, errorThrown) {
							console.log(textStatus);
						}
					}); // $.ajax
				});
				
				function showResult(arr) {
					console.log(arr);
			
					var divAreaUL = $(".uploadResult ul");
			
					var str = "";
			
					for(var i = 0; i < arr.length; i++) {
						str += "<li data-name='" + arr[i].fileName
								+ "' data-path='" + arr[i].folderPath + "' data-uuid='"
								+ arr[i].uuid + "'>";
						str += "<div>";
						str += "<button type='button' data-file=\'" + arr[i].imageURL + "\'";
						str += "class= 'btn-warning btn-sm'>X</button><br>";
						str += "<img src='/display?fileName=" + arr[i].thumbnailURL + "'>";
						str += "</div>";
						str += "</li>";
					}
					console.log(str);
					
					divAreaUL.append(str);
					
					// 삭제 버튼
					$(".uploadResult").on("click", "li button", function(e){
						
						console.log("delete file-----");
						
						var targetFile = $(this).data("file");
						var targetLi = $(this).closest("li");
						
						/* var fileName = target.data("name");
						var targetDiv = $(this).closest("div");
						
						console.log(fileName);
						
						$.post('/removeFile', {fileName:fileName}, function(result){
							console.log(result);
							if(result === true) {
								targetDiv.remove();
							}
						}) */
						
						// ajax
						$.ajax({
							url: '/removeFile',
							data: {fileName: targetFile},
							dataType: 'text',
							type: 'post',
							success: function(result) {
								alert(result);
								
								targetLi.remove();
							}
						})
					
					})
				
				}
				
				// prevent submit
				$(".btn-primary").on("click", function(e) {
					e.preventDefault();
					
					var str = "";
					
					$(".uploadResult li").each(function(i,obj){
		                  var target = $(obj);

		                  str += "<input type='hidden' name= 'imageDTOList["+i+"].imgname' value='"+target.data('name') +"'>";

		                  str += "<input type='hidden' name= 'imageDTOList["+i+"].path' value='"+target.data('path')+"'>";

		                  str += "<input type='hidden' name= 'imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

		              });
					
					$(".box").html(str);
					
					$("form").submit();
					
				});
				
			}); // document read end
		</script>

	</th:block>
</th:block>